.contact_button {
    background-color: #765280;
    border-radius: 10px;
    padding: 2% 5%;
    color: white;
    letter-spacing: 2px;
}
.addcart_button {
    background-color: #765280;
    border-radius: 10px;
    padding: 2% 5%;
    color: white;
    letter-spacing: 2px;
}
.backprod_button {
    /* background-color: #765280; */
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 1%;
    letter-spacing: 2px;
    margin: 2%;
    border: 1px solid white;
    transition: all .75s;
    /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.425); */
}
.backprod_button:hover {
    box-shadow: 1px 1px 5px rgba(136, 110, 135);
    backdrop-filter: blur(8px);
}
.product_card {
    min-height: 525px;
}
.product_title {
    text-align: center;
}
.card_price {
    position: absolute;
    bottom: 0;
}
.clickable:hover {
     cursor: pointer;
}

.val-badge {
    margin-left: -24%;
}
.badge {
    position: relative;
    left: 60%;
    margin-bottom: 5%;
}
@media only screen and (max-width: 600px) {
    .badge {
        left: 65%;
    }
    .val-badge {
        margin-left: -15%;
    }
}


@media only screen and (max-width: 450px) {
    .backprod_button {
        display: none;
    }
}

